body {
  padding: 25px;
  background-color: #F9FBFB;
  margin: 0;
  font-family: sans-serif;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #003049;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  color: #F9FBFB;
}

.head nav {
  display: flex; /* Cambiado a flex para alinear los elementos */
}

.head nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Cambiado a flex para alinear los elementos */
}

.head nav ul li {
  margin-left: 20px;
}

.head nav ul li:first-child {
  margin-left: 0;
}

.head nav ul li a {
  text-decoration: none;
  color: #F9FBFB;
}





.trial-section {
    width: 60%;
    display: flex;
    background-color: #F9FBFB;
    color: #003049;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.trial-info {
    flex: 1;
    margin-top: 150px;
    width: 60%;
}

.trial-info h2,  .trial-info h4 {
    margin-bottom: 10px;
}

.trial-info ul {
    list-style-type: none;
    padding: 0;
}


.reasons {
    flex: 1;
}

.form-container {
    border: 1px solid #ccc;
    padding: 20px; /* Aumenté el padding para hacer más espacio */
    background-color: #003049;
    color: #F9FBFB;
    width: 100%; /* Ajusté el ancho del contenedor */
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 15px;

}

.form-container p {
    margin-bottom: 10px;
    margin-top: 5px;
}

.form-container input {
    margin-bottom: 10px;
    width: calc(100% - 20px); /* Ajusté el ancho de los inputs restando el padding */
    padding: 10px;
}

.form-container button {
    width: calc(100% - 20px); /* Ajusté el ancho del botón restando el padding */
    padding: 10px;
}





.content {
  margin: 0 auto;
  width: 60%;
  max-width: 1200px;
}

.content {
  margin-bottom: 40px;
  margin-top: 50px;
    padding: 30px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-container {
  flex: 1;
}



.image-container {
  flex: 1;
  text-align: right;
}

.image-container img {
  max-width: 80%;
  height: auto;
  margin-top: 100px;
}




.content {
  margin-bottom: 40px;
  margin-top: 40px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.video-container {
  text-align: right;
  flex: 1;
}

.video-container iframe {
  max-width: 100%;
  height: auto;
  margin-left: 30px;
}

.images-container img {
  max-width: 100px;
  border-radius: 10px;
  margin: 0 10px;
}

.Acerca-de-nosotros,
.mision,
.vision,
.valores {
  margin-top: 150px;
  color: black;
  text-align: center;
  clear: both;
  margin-bottom: 20px;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #003049;
  color: #F9FBFB;
  padding: 3px 0;
  text-align: center;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.footer-content {
  margin-bottom: 20px;
}



.chat-container {
    position: fixed;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra exactamente en el medio */
    width: 70%;
    height: 80%; /* Reduje la altura para que quepa mejor en la pantalla */
    background-color: #F9FBFB;
    border: none;
    border-radius: 0;
    overflow: hidden;
    display: flex; /* Usa flexbox para centrar el contenido verticalmente */
    flex-direction: column; /* Alinear el contenido en columna */
}

.chat-box {
    flex: 1; /* El chat-box se expandirá para ocupar el espacio restante */
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Alinear el contenido en columna */
    justify-content: center;
}

.message-input {
    width: 95%;
    padding: 10px;
    background-color: #F9FBFB;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.message-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.message-input button {
    padding: 8px;
    border: none;
    background-color: #003049;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.message-input button:hover {
    background-color: #003049;
}

/* Estilo para el contenedor de los mensajes */
.message-container {
    display: flex;
    flex-direction: column; /* Alinear los mensajes en columna */
    justify-content: flex-end; /* Alinear los mensajes al final del contenedor */
}

/* Estilo para el contenedor de cada mensaje */
.message {
    max-width: 70%; /* Ancho máximo para los mensajes */
    margin-bottom: 5px; /* Espacio entre los mensajes */
}

/* Estilo para los mensajes del usuario */
.user-message {
    align-self: flex-end; /* Alinear el mensaje del usuario a la derecha */
    background-color: #003049; /* Color de fondo para los mensajes del usuario */
    color: white; /* Color de texto para los mensajes del usuario */
    border-radius: 10px; /* Borde redondeado para los mensajes del usuario */
    padding: 8px 12px; /* Espaciado interno para los mensajes del usuario */
}

/* Estilo para las respuestas */
.response {
    align-self: flex-start; /* Alinear las respuestas a la izquierda */
    background-color: #003049; /* Color de fondo para las respuestas */
    color: white; /* Color de texto para las respuestas */
    border-radius: 10px; /* Borde redondeado para las respuestas */
    padding: 8px 12px; /* Espaciado interno para las respuestas */
}