/* Container for all content sections */
.container {
    display: flex;  /* Enables flexible positioning of child elements */
}


/* Style for "About us", "Mission" and "Values" sections (similar to About Us) */
.about-us, .mission, .values {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
    width: 40%;
}

.about-us h2, .mission h2, .values h2 {
    color: #333;
    text-align: center;
}

.about-us p, .mission p, .values p {
    text-align: justify;
}

/* Style for the company image */
.company-image {
    width: 40%;  /* Adjust width as needed */
    margin: 20px 0;
    float: right;  /* Positions the image to the right */
}
